/* .create-poll-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #118aa9;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #118aa9;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
   */
   body {
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.dribbble.com/users/2172077/screenshots/6662726/american-ballot-box-paper-vote-wtc-hd-anim_still_2x.gif?resize=400x0');
    background-size: cover;
    background-position: center;
}

.create-poll-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* Added */
    z-index: 1; /* Added */
    background-color: rgba(240, 240, 240, 0.8); /* Added a semi-transparent background to ensure content readability */
}

.create-poll-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Added a semi-transparent overlay for better contrast */
    border-radius: 10px;
}

h1,
label,
input,
ul,
li,
button {
    position: relative; /* Ensures that the form elements are visible above the semi-transparent overlay */
    z-index: 2;
}

h1 {
    color: #118aa9;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #118aa9;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover {
    background-color: #118aa9;
}
